---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$max-width: 700px;
$background-color: #fff;

//$base-font-family: "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
$font-family: "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
$base-font-size: 1em;
$base-line-height: 1.4;
$font-color: #000;

// Device breakpoints
$on-palm:          600px;
$on-laptop:        800px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "animations",
        "extends",
        "fonts",
        "functions",
        "mixins",
        "base",
        "syntax-highlighting"
;