article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section { display: block }
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
audio:not([controls]) { display: none }
[hidden] { display: none }
img,
object,
video,
embed {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    max-width: 100%;
}
svg:not(:root) { overflow: hidden }
::selection {
	background: adjust-color(#FFEB00, $lightness: 0%);
	color: adjust-color($font-color, $lightness: 0%);
}
::-moz-selection {
	background: adjust-color($font-color, $lightness: 0%);
	color: adjust-color($font-color, $lightness: 100%);
}
* {
	color: adjust-color($font-color, $lightness: 30%);
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-family: sans-serif;
}
body {
	margin: 0;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-family: $font-family;
}

h1 {
	font-size: corbusier-font(3);
	font-weight: get-font-weight(4);
	color: adjust-color($font-color, $lightness: 0%);
}
h2 {
	font-size: corbusier-font(2);
	font-weight: get-font-weight(4);
	color: adjust-color($font-color, $lightness: 0%);
}
h3 {
	font-size: corbusier-font(1);
	font-weight: get-font-weight(4);
	color: adjust-color($font-color, $lightness: 0%);
}
h4 {
	font-size: corbusier-font(1);
	font-weight: get-font-weight(3);
	color: adjust-color($font-color, $lightness: 10%);
}
h5 {
	font-size: corbusier-font(1);
	font-weight: get-font-weight(2);
	color: adjust-color($font-color, $lightness: 20%);
}
h6 {
	font-size: corbusier-font(1);
	font-weight: get-font-weight(1);
	color: adjust-color($font-color, $lightness: 20%);
}
p {
	font-size: corbusier-font(1);
	font-weight: get-font-weight(1);
	color: adjust-color($font-color, $lightness: 30%);
}
em { font-style: italic }
strong {
	font-weight: bold;
	color: adjust-color($font-color, $lightness: 20%);
}
small { font-size: corbusier-font(-1); }
sub,
sup {
	font-size: corbusier-font(-2);
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup { top: -0.5em }
sub { bottom: -0.25em }
ul,
ol {
	font-weight: get-font-weight(1);
	margin: 0;
	padding: 0 1.5em;
	list-style-type: none;
}
ol {
	list-style-type: decimal;
}
a {
	color: inherit;
	text-decoration: none;
}
header {
	margin-top: 70px;

	@include circlelogo( 124px, 4px, #fff, #000 );

}
.highlighter-rouge {
    background-color: adjust-color($font-color, $lightness: 95%);
}
section#timeline {
	width: auto;
	margin: 0 auto;
	display: block;

	article {
		max-width: $max-width;
		margin: 0 auto;

		&:nth-last-child(2) {
			margin-bottom: 40px;
		}

		&:hover {
			h1 a:nth-child(2),
			h2:nth-child(1) a:nth-child(2) {
				visibility: visible;
			}
		}

		h1 {
			a:nth-child(2) {
				@extend %permalink;
				visibility: hidden;
			}

			&:hover {
				a:nth-child(2) {
					opacity: 1;
				}
			}
		}

		h2:nth-child(1) {
			a:nth-child(2) {
				@extend %permalink;
				visibility: hidden;
			}

			&:hover {
				a:nth-child(2) {
					opacity: 1;
				}
			}
		}

		ul, ol {
			display: block;
			margin: 0 5%;

			&:nth-child(2) {
				display: none;
			}

			li {
				margin: 10px 0;
			}
		}

        ul {
			list-style-type: disc;
        }

        & > ul,
        & > ol {
            font-size: corbusier-font(1);
        }

		blockquote {
			border-left: .5em solid adjust-color($font-color, $lightness: 0%);
			padding-left: 1em;
			font-style: italic;
			margin-left: -1.5em;
		}

		p {
			// TODO: First p larger by referencing parent
			// - ul:nth-child(2) + p
			// - blockquote:nth-child(2) + p
			margin: 20px 0;

			a {
				border-bottom: 1px solid #ccc;
				color: adjust-color($font-color, $lightness: 0%);

				&.button {
					color: adjust-color($font-color, $lightness: 60%);
					border: 1px solid adjust-color($font-color, $lightness: 90%);
					font-size: corbusier-font(-1);
					font-weight: get-font-weight(1);
					background-color: transparent;
					line-height: 30px;
					padding-left: 20px;
					padding-right: 20px;
					display: inline-block;
					border-radius: 30px;
					outline: none;
					transition-property: all;
					transition-duration: 0.2s;
					-webkit-font-smoothing: antialiased;

					&:hover {
						color: adjust-color($font-color, $lightness: 30%);
						font-weight: 100; // TODO: replace with mixin/function
						border-color: adjust-color($font-color, $lightness: 0%)
					}
				}

			}

			img {
				display: block;
				margin: 0 auto;
			}
		}

		div {
			&.video-container {
				position: relative;
				padding-bottom: 56.25%;
				padding-top: 30px;
				height: 0;
			}

			&.highlighter-rouge {
                width: 100vw;
                position: relative;
                left: 50%;
                right: 50%;
                margin-left: -50vw;
                margin-right: -50vw;

                & > div {
                    &.highlight {
				        overflow-wrap: normal;
				        overflow: scroll;
                        max-width: 700px;
                        margin: auto;
                    }
                }
            }

			&.two-column {
				& > div {
					width: 46%;
					float: left;
					margin: 0 2%;
				}

				&:after {
					clear: both;
					content: "";
					display: block;
				}
			}
		}

		.video-container iframe,
		.video-container object,
		.video-container embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}


	& > hr {
		display: block;
		border: 1px solid adjust-color($font-color, $lightness: 95%);
		height: 0;
		color: adjust-color($font-color, $lightness: 95%);
		margin: 70px 0 50px 0;

		&:last-of-type {
			display: none;
		}
	}

	nav.pagination {
		padding: 2em 1em;
		margin-top: 4em;
		border-top: 1px solid adjust-color($font-color, $lightness: 95%);

		span {
			display: block;

			&.prev {
				float: left;
			}

			&.next {
				float: right;
			}

			a {
				font-size: 1em;
				line-height: 35px;
				display: inline-block;
				padding: 0 25px;
				border-radius: 30px;
				-moz-border-radius: 30px;
				-webkit-border-radius: 30px;
				font-weight: 100; // TODO: replace with mixin/function
				text-transform: lowercase;
				background-color: transparent;
				color: adjust-color($font-color, $lightness: 60%);
				border: 1px solid adjust-color($font-color, $lightness: 90%);

				&:hover {
					color: adjust-color($font-color, $lightness: 30%);
					font-weight: 100; // TODO: replace with mixin/function
					border-color: adjust-color($font-color, $lightness: 0%)
				}
			}
		}
	}
}
footer {
	clear: both;
	display: block;
	margin: 20px 0;
	padding: 2em 0;
	position: relative;
	border-top: 1px solid adjust-color($font-color, $lightness: 95%);

	@include circlelogo( 62px, 2px, #fff, #000 );

	&.loading aside div a {
		-webkit-animation:spin 4s linear infinite;
		-moz-animation:spin 4s linear infinite;
		animation:spin 4s linear infinite;
	}
}
.copyright {
	float: right;
	color: adjust-color($font-color, $lightness: 95%);
}
@media (max-width: 700px) {
	section#timeline {
		article {
			margin-left: 1em;
			margin-right: 1em;
			overflow-wrap: break-word;

			blockquote {
				border-left: .5em solid adjust-color($font-color, $lightness: 0%);
				margin-left: -1em;
			}
		}
	}
}
